<div class="row">
  <div class="small-10 small-centered columns">
    {{deposit-form processCard='processCard' creditCardErrors=creditCardErrors cardSaving=cardSaving cardSaved=cardSaved stripeIsProcessing=stripeIsProcessing}}
  </div>
</div>
